*{
  margin: 1;
  padding:0;
  list-style: none;
  text-decoration: none;
}

.headerofpage{
  width:100%;
  height:80px;
  position: relative;

  display: block;
  background-color: black;

}

.inner_headerpri{
  width:1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: black;

}
.rightsidepage {
  float: right;
  margin: 10cm;
  margin-top: 50px;
  height: 70;
  width: 1700px;
  text-align: justify;
  
}

.logo_containerbox{
  margin-left: -5cm;
  height: 100%;
  display: table;
  float: left;
}
.logo_containerbox h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-weight: 100;
  font-size: 32px;
}

.leftsidepage {
  margin-top: 30px;
  float: left;
  margin: 3cm;
}

.logo {
  display: block;
  justify-content: center;
  align-items: center;
}


.text-small {
  font-size: 18px;
}

.section {
  height: 200px;
  width: 120%;
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  justify-content: space-between;
}


